* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

.app-content {
  padding: 90px 0px 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.app-content-homePage {
  height: 100%;
  padding: 90px 0px 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
  text-align: center;
}
